modules = ["nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyA77RkhLvvWRt95OiwYOv2gtttUCHv5pGc"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "life-in-drafts.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "life-in-drafts"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "life-in-drafts.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "500311345244"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:500311345244:web:f5825e1b88f1501529fe99"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_NO_INSPECTOR_PROXY=1 EXPO_NO_DEVTOOLS=1 BROWSER=none ./node_modules/.bin/expo-internal start --web --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
